<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Custom Login</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Вход в приложение</h2>
<form th:action="@{/login}" method="post">
    <div>
        <label>Имя пользователя:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button type="submit">Войти</button>
    </div>
</form>
</body>
</html>
